<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>La Forma Pilates | <%= person[0].name %> <%= person[0].surname %></title>
</head>
<body>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="/admin/client/<%= person[0].name %>/<%= person[0].surname %>/add-invoice">Create Invoice</a></li>
                <li><a href="/admin/dashboard">Back to Dashboard</a></li>
            </ul>
        </nav>
    </div>
    <div class="admin-title">
       <h1> <%= person[0].name %> <%= person[0].surname %></h1>
    </div>
</body>
</html>