<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/admin-styles.css">
    <title>La Forma Pilates | <%= person[0].name %> <%= person[0].surname %></title>
</head>
<body>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="/admin/client/<%= person[0].name %>/<%= person[0].surname %>/add-invoice">Create Invoice</a></li>
                <li><a href="/admin/dashboard">Back to Dashboard</a></li>
            </ul>
        </nav>
    </div>
    <div class="admin-title">
       <h1> <%= person[0].name %> <%= person[0].surname %></h1>
    </div>
    <div class="invoices">
        <div class="admin-subtitle">
            <h2>Invoices:</h2>
        </div>
        <% if(message.length > 0){ %>
            <p class = "success"><%= message %></p>
        <% } %>
        <ul>
            <% history.reverse().forEach(invoice => { %>
                <li class = "invoice">
                    <p>Date: <%= invoice.date %></p>
                    <p>Session Duration: <%= invoice.time %></p>
                    <p><b>£<%= invoice.amount %></b> </p>
                    <p>Status: <span class = "invoice-status"><%= invoice.status %></span></p>
                    <form action="/auth/<%= invoice.name %>/<%= invoice.surname %>/<%= invoice.id %>/delete-invoice" method = "POST">
                        <a href="/admin/client/<%= invoice.name %>/<%= invoice.surname %>/<%=invoice.id %>/edit-invoice">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button>
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
    <script src = "/js/app.js"></script>
</body>
</html>